.posts {
}

.post {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 100px 0;

  img {
    border-radius: 100px;
  }
}

.avatar {
  width: 100px;
  height: 100px;

  img {
    width: 100%;
  }
}

.message {
  color: #47525e;
  font-size: 26px;
  line-height: 33px;
  text-align: left;
}
